.bg{
  font-family: 'Ubuntu', sans-serif;
}

.badge{ display: inline-block; margin: 2px 2px; color: white; font-size: 12px; padding: 3px 10px; background-color: var(--tooltip-color); border-radius: 10px; }

#side {-ms-overflow-style: none; /* IE and Edge */scrollbar-width: none; /* Firefox */}

#side::-webkit-scrollbar { width: 10px; /* Chrome, Safari, Opera*/}
#side::-webkit-scrollbar-thumb {margin-left: 20px; background: linear-gradient(to bottom,var(--main-color),var(--main2-color)); border-radius: 10px; background-clip: padding-box; border: 2px solid transparent;}
#side::-webkit-scrollbar-track {border-radius: 10px; background: rgba(128, 128, 128, 0.075);}

.fade-enter-from {
  opacity: 0;
}

.fade-enter-active {
  transition: all 1.5s;
}

.fade-enter-to {
  opacity: 1;
}
